.input-list {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
  z-index: 1;
}

.input-wrapper>input {
  z-index: 1;
}

.frameworks-list {
  --item-count: 0;

  cursor: default;
  overflow: hidden;
  border-radius: var(--input-border-radius);
  box-sizing: inherit;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: height 250ms;
  interpolate-size: allow-keywords;
  /*Basically only works on chrome, Edge and Opera... Why the f# did nobody implement this INCREDIBLY useful property onto their browsers? Smh.*/
  scrollbar-color: gray transparent;
  scrollbar-width: thin;

  &>.wrapper {
    margin-top: var(--input-height);
    flex: 1;
    overflow-y: hidden;
  }

  &.overflows>.wrapper {
    overflow-y: scroll;


  }
}

.input-wrapper>input:focus+.frameworks-list {
  height: calc(var(--input-height)*(var(--item-count)+2));
  interpolate-size: allow-keywords;
}

.frameworks-list.wrapper {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
}

.frameworks-list li {
  box-sizing: inherit;
  flex: 1;
  margin: 0;
  padding: 0.5rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: var(--input-height);
  border-radius: var(--input-border-radius);
  box-sizing: border-box;

  &>.close {
    font-size: 1.1rem;
    display: inline flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100vh;
  }

  &>.close:hover {
    background-color: red;
  }
}

.frameworks-list li:hover {
  background-color: yellow;
}

@keyframes open {
  from {
    visibility: hidden;
    height: 100%;
  }

  to {
    visibility: visible;
    height: calc(var(--input-height)*(var(--item-count)+2));
  }
}

@keyframes close {
  from {
    visibility: visible;
    height: calc(var(--input-height)*(var(--item-count)+2));

  }

  to {
    visibility: hidden;
    height: 100%;
  }
}