.cards {
  display: flex;
  align-items: stretch;
  justify-content: start;
  box-sizing: border-box;
  gap: 1rem;
}

.cards>li {
  width: 18rem;
  height: 20rem;
  background-color: aquamarine;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.cards>.add {
  padding: 0;
  align-items: stretch;
  justify-content: stretch;

  &>button {
    font-size: 3rem;
    flex: 1;
  }
}

.card-item {}

.card-item>p {
  margin: 0;
}