.cards {
  display: flex;
  align-items: stretch;
  justify-content: start;
  box-sizing: border-box;
  gap: 1rem;
}

.cards button:focus {
  outline: 1px solid blue;
}

.cards>li {
  width: 18rem;
  height: 20rem;
  background-color: aquamarine;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.cards>.add {
  padding: 0;
  align-items: stretch;
  justify-content: stretch;

  &>button {
    font-size: 3rem;
    flex: 1;
  }
}

.card-item {
  position: relative;

  &>.close {
    font-size: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: default;
  }

  &>.close:hover {
    background-color: red;
    border-radius: 100vh;
  }
}

.card-item>p {
  margin: 0;
}