:root {
  --primary-color: oklch(75% 0.4 265);

  --white-1: oklch(from var(--primary-color) 99% 0.005 h);
  --white-2: oklch(from var(--primary-color) 96% 0.005 h);
  --white-3: oklch(from var(--primary-color) 93% 0.005 h);

  --black-1: oklch(from var(--primary-color) 3% 0.005 h);
  --black-2: oklch(from var(--primary-color) 6% 0.005 h);

  --input-height: 2.2rem;
  --input-border-radius: 0.9rem;

  background: linear-gradient(var(--white-2) 10%, var(--white-3) 90%);
  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
li,
ul {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.8rem;
}

input,
button {
  font-size: 1.1rem;
}

input {
  background-color: var(--white-1);
  border-radius: var(--input-border-radius);
  border: none;
  min-height: var(--input-height);
  padding-left: 1rem;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.15) inset;
  transition: outline 50ms;
}

input:focus {
  outline: 2px var(--primary-color) solid;
}

button[type="submit"] {
  background-color: oklch(from var(--primary-color) 60% 0.2 h);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all 100ms;
}

button[type="submit"]:hover {
  background-color: oklch(from var(--primary-color) 50% 0.2 h);
}

button[type="submit"]:active {
  background-color: var(--white-1);
  color: oklch(from var(--primary-color) 60% 0.2 h);
  outline: 2px solid oklch(from var(--primary-color) 60% 0.2 h);
}

input[type="file"] {
  aspect-ratio: 1/1;
}

label {
  white-space: nowrap;
}

li {
  list-style: none;
}