:root {
  --primary-color: oklch(75% 0.4 265);

  background-color: oklch(from var(--primary-color) 99% 0.02 h);
  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
li,
ul {
  margin: 0;
  padding: 0;
}

div#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.8rem;
}

input,
button {
  font-size: 1.25rem;
}

input {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  min-height: 2rem;
  padding-left: 1rem;
}

button[type="submit"] {
  background-color: oklch(from var(--primary-color) 60% 0.2 h);
  color: white;
  border: none;
  width: 5rem;
  height: 3rem;
}

label {
  margin-right: 1rem;
}

li {
  list-style: none;
}