.input-list {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
}

.input-list>.input-wrapper>input {
  z-index: 1;
}

ul.frameworks-list {
  padding-top: var(--input-height);
  border-radius: var(--input-border-radius);
  display: block flex;
  visibility: hidden;
  box-sizing: inherit;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms;
  transition-behavior: allow-discrete;
  interpolate-size: allow-keywords;

  /*Basically only works on chrome, Edge and Opera... Why the f# did nobody implement this INCREDIBLY useful property onto their browsers? Smh.*/
  &>div.wrapper {
    overflow-y: scroll;

    scrollbar-color: gray transparent;
    scrollbar-width: thin;
  }

}

ul.frameworks-list.wrapper {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
}

.input-wrapper>input:focus+ul.frameworks-list {
  /* height: fit-content; */
  visibility: visible;
  /* padding-top: var(--input-height); */
}

ul.frameworks-list li {
  box-sizing: inherit;
  flex: 1;
  margin: 0;
  padding: 0.5rem 0.7rem;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  max-height: var(--input-height);
  border-radius: var(--input-border-radius);
}

ul.frameworks-list li:hover {
  background-color: yellow;
}